[submodule "nrf52840/lib/CMSIS_5"]
	path = nrf52840/lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "stm32f429/lib/CMSIS_5"]
	path = stm32f429/lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "stm32f429/lib/cmsis-device-f4"]
	path = stm32f429/lib/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
